body{
  margin:0;
  padding:0;
  display:flex;
  flex-direction: column;
  align-items: center;
}

.main-content{
  display:flex;
  width:100%;
}

.project-list{
  background-color: lightpink;
  flex:1;
  border:solid 1px black;
  display:flex;
  flex-direction:column;
  align-items: center;
  gap: 5px;
}

.project-list > button{
  cursor: pointer;
  padding: 10px 20px;
  font-size: 2rem;

}

.task-list{
  flex:3;
  background-color: lightblue;
  border:solid 1px black;
}

.task-item{
  display:flex;
  gap: 32px;
}