/* Fonts */
@font-face {
  font-family: 'Oswald';
  src: url('./fonts/Oswald-variable.woff2') format('woff2'),
    url('./fonts/Oswald-variable.woff') format('woff');
  font-weight:300;

}

@font-face {
  font-family: 'Oswald';
  src: url('./fonts/Oswald-variable.woff2') format('woff2'),
    url('./fonts/Oswald-variable.woff') format('woff');
  font-weight:400;

}

@font-face {
  font-family: 'Oswald';
  src: url('./fonts/Oswald-variable.woff2') format('woff2'),
    url('./fonts/Oswald-variable.woff') format('woff');
  font-weight:600;

}


:root{
  /* --header-color: #05386B;
  --project-section-color: #8EE4AF;
  --task-section-color: #9fffc4; */


  --header-color: #0D4C92;
  --project-section-color: #A0E4CB;
  --task-section-color: #CFF5E7;

}

body{
  font-family: "Oswald";
  margin:0;
  padding:0;
  /* box-sizing:border-box; */
  position:relative;
} 


header{
  background-color: var(--header-color);
  color:white;
  font-size: 1.25rem;
  padding: 10px 0 10px 40px;
  display:flex;
  align-items: center;
  gap: 32px;
}

header > h1{
  margin: 0;
}

.main-content{
  display:flex;
  min-height: 100vh;
}


/* Projects Section */
.project-list{
  background-color: var(--project-section-color);
  border-right: 1px solid #32a077;
  flex:1;
  display:flex;
  flex-direction:column;
  align-items: center;
  gap: 10px;
}

.project-header,
.project-list-container{
  width: 100%;
}

.project-header{
  display:flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #32a077;
}

.project-list-container{
  padding-left: 50px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.project-header > h1{
  margin:0 0 0 20px;
}

.add-project-button{
  margin-right: 20px;
  cursor:pointer;
}

.project-list > button{
  cursor: pointer;
  padding: 10px 20px;
  font-size: 2rem;
}

.project-btn{
  border:none;
  display:flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  font-size: 1rem;
  border-radius: 5px;
  font-weight: 300;
  padding: 5px;
}

.active{
  background-color: #02cf84;
  font-weight: 400;
}

.project-btn:hover{
  background-color: #02cf84;
}

.left-btn-section,.right-btn-section{
  cursor:pointer;
}

.left-btn-section{
  display:flex;
  align-items: center;
  gap: 10px;
  width: 100%;
}

.left-btn-section > p{
  margin: 0;
  width:inherit;
}

.project-form-container,
.task-form-container{
  width: 30%;
  position:absolute;
  top: 20%;
  left:0;
  right:0;
  margin: 0 auto;
  border-radius: 5px;
  overflow:hidden;
  background-color: white;
  display:none;
  flex-direction: column;
}


.form-header{
  width: 100%;
  background-color: var(--header-color);
  text-align:center;
  padding: 20px;
  box-sizing:border-box;
}

.form-header > h1{
  margin: 0;
  color:white;
}

.form-inputs{
  display:flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  align-items: stretch;
}

.form-row > input{
  width: 100%;
  box-sizing: border-box;
  padding: 10px 20px;
  font-size: 1.5rem;
}

.form-row:nth-child(2){
  display:flex;
  gap: 10px;
}

.form-row > select{
  font-size: 1.5rem;
  text-align:center;
}

.project-form-buttons,
.task-form-buttons{
  display:flex;
  justify-content: end;
  gap: 20px;
}


.project-form-buttons > button,
.task-form-buttons > button{
  padding: 10px 20px;
  font-size: 1.5rem;
}


/* ============================ */


/* Tasks Section */
/* .task-form{
  flex-direction: column;
  align-items: center;
  gap: 20px;
  overflow: hidden;
  position: absolute;
  border:1px solid black;
  background-color: white;
  border-radius:10px;
  width: 450px;
  left:0;
  right:0;
  margin: 0 auto;
  top:20%;
  display:flex;
} */

/* ============================ */
.task-list{
  flex:3;
  background-color: var(--task-section-color);
  display:flex;
  flex-direction: column;
  padding: 0 20px;
}

.task-header{
  width: 100%;
  font-size: 1.5rem;
}

.task-header > h1{
  margin: 0;
  text-align:center;
  font-size: 2.5rem;
}

.add-task-section{
  display:flex;
  border-bottom: 2px solid black;
  justify-content: space-between;
  align-items: center;
  padding:0 20%;
  margin: 20px 10% 0 10%;
}
.add-task-section > h1{
  margin:0;
}



.task-list-container{
  display:flex;
  flex-direction:column;
  margin-top: 20px;
}

.task-item{
  display:grid;
  grid-template-columns:repeat(2, 1fr);
  margin:0 20%;
}
.left-task-item-section{
  display:flex;
  gap: 20px;
}

.right-task-item-section{
  display:flex;
  align-items:center;
  justify-content: space-between;
}

.left-task-item-section > h1,
.right-task-item-section > h1{
  font-size: 1.5rem;
  font-weight: 300;
}

